*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  width: 100%;
  height: 100%;
  gap:40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start ;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__details {
  max-width: 399px;
  max-height: 100%;
}

.result__video-container {
  width: 100%;
  max-height: 100%;
  padding-bottom: 10px;
  position:relative;
}

.content__video-card-description-container { 
  width: 196px;
  height: 103px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}

.result__video-container video {
  object-fit: fill;
  min-width: 711px;
  max-height: 386px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  width: 100%;   /*  Анна спасибо вам, в данном случае получается чють-чють не по макету, но ей богу не понимаю как растянуть изображение до нужного, а очень хочется*/
  justify-content: space-between;
  align-items: self-start;
}

.content__video-card-thumbnail {
  object-fit: contain;
  object-position: right;
  height: 103px;
  min-width: 194px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding: 0 140px 26px 0;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display:block;
  max-width: 399px;
 }

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;          
}

.search-form__textfield {
  appearance: none;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color:#1B1919;
  color: #fff;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label input:focus {          /* факультативно */
  outline: none;
}

.search-form__label:has(:focus-visible) {   /* факультативно цвет и толщина не по макету */
  outline: 1px solid #FFF;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px #FFFFFF;
  padding: 1px;
}

.search-form__pseudo-checkbox:after {
  content: "";
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;                                            /* выучить запомнить важно  https://sec-storage.org/3bb8877f5e!*/
}

.search-form__label:has(.search-form__checkbox:focus-visible) {    /* факультативно цвет и толщина не по макету */
  outline: 1px solid #FFF;
}

.search-form__checkbox:focus + .search-form__pseudo-checkbox {     /* факультативно  */
  outline: 2px solid #5199FF;
}

.button {
  background-color: transparent;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFF;
  border: 1px solid #FFFFFF;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  align-self: self-end;
}

.more-button {
  min-height: 34px;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {   /* факультативно  */
  outline: 1px double #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;  /*какой цвет??*/
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__list-item {
  width: 100%;
  padding: 0px 3px;
}